//
//  dev.xcconfig
//  Runner
//
//  Created by laptop on 2022/02/04.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
FLAVOR=prod
APP_NAME_SUFFIX=
APP_ID=com.knzc.app.amasearch
GOOGLE_SIGN_IN_ID=com.googleusercontent.apps.157832618677-i9v4vujc1tj51dtk9mgqvu735ngc3btf